<!DOCTYPE html>
<html>
  <head>
    <title>Avian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    #banner {
      height: 360px;
      width: 100%;
      object-fit: cover;
      padding-bottom:16px;
    }
  </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://avian-careers-website.dephney.repl.co/static/banner.jpg" alt="banner" height="320">
    <div class="container">
    <h1 class="text-center mt-4 mb-4">Avian Careers</h1>
    <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
          <p class="lead">
    Ipsum dolor sit amet consectetur adipiscing elit ut. Nunc consequat interdum varius sit amet. Elit ut aliquam purus sit amet. Tellus in metus vulputate eu scelerisque felis imperdiet. Est sit amet facilisis magna etiam tempor orci. Blandit aliquam etiam erat velit scelerisque in dictum. Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Mattis aliquam faucibus purus in massa. Sit amet nisl purus in mollis nunc sed. In dictum non consectetur a erat nam. Sit amet dictum sit amet justo donec enim.
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">
         <img src="/static/people.jpg" style="height:360px;border-radius:4px;">
        </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Open Vacancies</h2>
      <div stye="margin-bottom: 16px;">
        <!-- passing dynamic data into an html template -->
        {% for job in jobs%}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href="mailto:avian@avian.com" class="btn btn-primary btn-lg" >Contact Us</a>
    </div>
    </div>
    {% include 'footer.html'%}
  </body>
</html>